/*CONTACTO*/
.title{
    color:var(--main-color)
}
.contacto{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
label{
    width: 100%;
    margin-top: 10px;
}
input[type="text"], [type="email"], [type="date"]{
    width: 100%;
    border: 1px solid gray;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}
select{
    width: 100%;
    border: 1px solid gray;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}
input[type="submit"]{
    display: block;
    margin: 20px auto;
    width: 80%;
    background-color: var(--secundary-color);
    color: var(--white);
    padding: 15px;
    border-radius: 13px;
}
input[type="submit"]:hover{
    color: var(--main-color);
}
textarea{
    width: 100%;
    border: 1px solid gray;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}
.contacto .col{
    padding: 30px;
}
