@import url('https://fonts.googleapis.com/css2?family=Anton&family=Antonio:wght@100..700&family=Bebas+Neue&family=Chango&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root{
    --main-color:#4E56C0;
    --secundary-color:#9B5DE0;
    --terciary-color:#D78FEE;
    --white-pink:#FDCFFA;
    --white:#ffffff;
    --black:#000000;
    --grey-dark:#021526;
    --dark-blue:#030147;
}
body{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
}
html{
    box-sizing: border-box;
}
*,*:before,*:after{
    box-sizing: inherit;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}